body {
  font: 20px/1.5 "Times New Roman", Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

/* Global */
.container {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

h1 {
  font-size: 30px;
}
ul {
  margin: 0;
  padding: 0;
}

article {
  padding: 15px;
}

.blue{
  text-align: left;
  background:#5cacf2;
  color:#000000;
  margin-right: 0;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#035ead;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#cccccc 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header .links{
  float:right;
  margin-top:10px;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

header .highlight {
  color: #cccccc;
}
/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 45%;
  padding: 10px;
}

/* Main */
article#main-col {
  float: left;
  width: 60%;
}

/* Sidebar */
aside#sidebar {

  float: right;
  width: 35%;
  margin-top: 30px;
}

/* Contact */
.contact {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
.inline-div {
  float: left;
  width: 50%;
}


/* Sth */
.sth {
  padding-bottom: 0;
  padding-top: 100px;
}




footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#035ead;
  text-align: center;
}
